body {
  font-family: Arial, sans-serif;

  background-image: url("background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  text-align: center;
  padding: 20px;
}
p{
  color:#ffffff;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}



h3 {
  color: #ffffff;
}

input {
  padding: 8px;
  width: 260px;
  font-size: 16px;
  margin: 5px;
}

button {
  background: linear-gradient(135deg, #4CAF50, #2ECC71);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #43A047, #27AE60);
  transform: scale(1.05);
}
button.active-btn {
  background: linear-gradient(135deg, #27AE60, #2980B9);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  transform: scale(1.08);
}

button.next-active {
  background: linear-gradient(135deg, #27AE60, #1E8449);
}


.desc {
  background: rgba(255, 255, 255, 0.9);
  border-left: 6px solid #27ae60;
  padding: 15px;
  width: 75%;
  margin: 20px auto;
  text-align: left;
  font-size: 16px;
  border-radius: 6px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.node {
  padding: 15px 22px;
  border: 3px solid #87CEEB;
  margin: 8px;
  background: #ECF0F1;   
  color: #2c3e50;
  border-radius: 6px;
  transition: all 0.4s ease;
}
.active {
  background: #D6EAF8;   
  border-color: #3498DB;
  transform: scale(1.1);
}

.merged {
  background: #D5F5E3;  
  border-color: #27AE60;
}

.prev {
  border-color: red;
}

.arrow {
  font-size: 24px;
  color: #ffffff;   
  font-weight: bold;
}

